<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    {% include "header.html" %}

    <div id='container'>
        <div id='box'>
            <h2>Categories:</h2>
            {% for i in category %}
            <p id='category-names'><a href="{{url_for('catalogItems', category_id = i.id)}}">{{ i.category_name }}</a></p>
            {% endfor %}
        </div>
        
        <div id='box'>
            <h2>Latest Items:</h2>
            {% for i in items %}
            <p>{{ i.item_name }} 
                {% for j in category %}
                    {% if i.category_id == j.id %}
                        ({{ j.category_name }})
                    {% endif %}
                {% endfor %}
            </p>
            {% endfor %}
        </div>
    </div>

</body>
</html>