<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    {% include "loggedInheader.html" %}
    <div id='message-container'>
        <h1>{{ category.category_name }} Items</h1>

        <p id='create'><a href="{{url_for('newItem', category_id = category.id)}}">Create New Item</a></p>

        <div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                    <p id='flash-message'>{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </div>

    <div id='item-container'>
        {% for i in items %}
            {% if i.user_id == creator.id %}
                <div id='item-box'>
                    <h2>{{ i.item_name }}</h2>
                    <p>{{ i.description }}</p>
                    <div>
                        <a href="{{url_for('editCatalogItem', category_id = category.id, item_id = i.id)}}" id='edit'> Edit Item</a>
                        <a>|</a>
                        <a href="{{url_for('deleteCatalogItem', category_id = category.id, item_id = i.id)}}" id='delete'>Delete Item</a>
                    </div>
                </div>
            {% endif %}  
        {% endfor %}
    </div>

</body>

<script>

let flashedMessage = document.querySelector('#flash-message');

const deleteText = () => {
    flashedMessage.innerHTML = '';
}

if (flashedMessage) {
    setTimeout(deleteText, 2000)
}


</script>
</html>