<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    {% include "loggedInHeader.html" %}
    <center><h1>Welcome {{ email }}</h1></center>
    <div id='container'>
        <div id='box'>
            <h1>Categories:</h1>
            {% for i in category %}
            <h2><a href="{{url_for('catalogItems', category_id = i.id)}}">{{ i.category_name }}</a></h2>
            {% endfor %}
        </div>
        
        <div id='box'>
            <h1>Latest Items:</h1>
            {% if items %}
                {% for i in items %}
                    {% if user_id == i.user_id %}
                        <h2>{{ i.item_name }} 
                            {% for j in category %}
                                {% if i.category_id == j.id %}
                                    ({{ j.category_name }})
                                {% endif %}
                            {% endfor %}
                        </h2>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>

</body>
</html>